:root {
	//   color-scheme: dark;
	--bg: #212121;
	--accent-bg: #2b2b2b;
	--text: #dcdcdc;
	--text-light: #ababab;
	--accent: #0066ff;
	--accent-hover: #99f3ff;
	--accent-text: var(--bg);
	--code: #f06292;
	--preformatted: #ccc;
	--disabled: #111;
	--input-height: 2.5em;

	--btn-bg: #0066ff;
	--btn-hover: #0055cc;
}
